<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tulingxueyuan.mall.modules.pms.mapper.PmsProductCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tulingxueyuan.mall.modules.pms.model.PmsProductCategory">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="product_count" property="productCount" />
        <result column="product_unit" property="productUnit" />
        <result column="nav_status" property="navStatus" />
        <result column="show_status" property="showStatus" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
        <result column="keywords" property="keywords" />
        <result column="description" property="description" />
    </resultMap>
    <!--获取商品的一级分类和二级分类的下拉级联数据-->
    <resultMap id="withChildrenMap" type="com.tulingxueyuan.mall.modules.pms.model.dto.ProductAttributeCategoryDto">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <collection property="children" columnPrefix="children_" resultMap="BaseResultMap"></collection>
    </resultMap>
    <select id="getWithChildren"
            resultMap="withChildrenMap">
        SELECT
        pc1.id,
        pc1.`name`,
        pc2.id children_id,
        pc2.`name` children_name
        FROM
        pms_product_category pc1
        LEFT JOIN pms_product_category pc2
        ON
        pc2.parent_id = pc1.id
        WHERE pc2.parent_id <![CDATA[<>]]> 0 and pc1.parent_id=0
    </select>


    <select id="getProductWithCategory" resultType="com.tulingxueyuan.mall.modules.pms.model.dto.HomeMenusDto"></select>

</mapper>
